
<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>Futuristico</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}} "/>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lavalamp.min.js')}}"></script>
  <script type="text/javascript">
    $(function() {
      $("#lava_menu").lavaLamp({
        fx: "backout",
        speed: 700
      });
    });
  </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nivo.slider.pack.js')}}"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</head>

<body>
  <div id="main">	
    <div id="header">  
      <img src="{{url_for('static', filename='img/logo.jpg')}}" alt="logo"> 
      <h1>Futur<span>istico</span></h1>	
	  <h2>Make sure it's worth your money</h2>
    </div><!--close header-->	    
	<div id="site_content">  
	  <div id="menu_container">  
	    <div id="menubar">
          <ul class="lavaLampWithImage" id="lava_menu">
            <li class="current"><a href="{{url_for('static', filename='index')}}">Home</a></li>
            
			<li> <a href="{{ url_for('about') }}">About Futuristic</a></li>
			
            <li><a href="{{url_for('static', filename='contact')}}"> Contact Us</a></li>
          </ul>
	    </div><!--close menubar-->
	  </div><!--close menu_container-->
		
      <div class="sidebar_container">   		  
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Prediction</h2>
			<h4>We look into the future of the box office!</h4>
            <p>Why spend for something that might not be worth it?</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Confused?</h2>
			<h4>Will the new movie be worth it?</h4>
            <p>Just try our movie success predictor</p>
		      <a href="about.html">Read more</a>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->   
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>YES, IT'S FREE!!</h2>
			<h4>Don't pay a cent when trying out our predictor service</h4>
            <p>It doesn't get better than this</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->   
        </div><!--close sidebar_container-->
		    
	    <div id="banner_image">
	      <div id="slider-wrapper">        
            <div id="slider" class="nivoSlider">
              <img src="{{url_for('static', filename='img/slide1.jpg')}}" alt="slide1" />
              <img src="{{url_for('static', filename='img/slide2.jpg')}}" alt="slide2" />
		    </div><!--close slider-->
		  </div><!--close slider-wrapper-->
	    </div><!--close banner_image-->	
		
      <div id="content">
        <div class="content_item">
            <h1>Start Predicting the Success of any Upcoming Movie!</h1><br><br><br>
            <div class="container" style="width: 600px; padding-left: 250px">
			
{% block content %}
                <form method="post" action= "/movie">                    
                    <div style="width: 200px">
                       
						<p><label>Movie Name:</label> <input type="text" name="movie" required></p>
                    </div><br><br>
                    <button type="submit" style="color:#802954; font-weight: bolder">PREDICT</button>
					<input type="hidden" id="myInput">{{errMsg}}

                </form>
				{% endblock %}
            </div>
		</div><!--close content_item-->	
	      	
       <br style="clear:both;" />
      </div><!--close content-->	
    </div><!--close site_content-->	
    <div id="footer">  
      <a href="index.html">Home</a> 
|     <a href="about.html">About Futuristico</a> 
|     <a href="contact">Contact Us</a> 
|     <a>Terms of Use</a>
    </div><!--close footer-->	
  </div><!--close main-->	
</body>
</html>
